# SPICED Academy /// Project Week 08 /// Markov Simulation

***

## I. Define goal

***

## II. Import libraries and data

In [2]:
#data processing
import pandas as pd
import numpy as np

#data visualization
import seaborn as sns
import matplotlib.pyplot as plt

#ignore warnings
import warnings
warnings.filterwarnings('ignore')

In [13]:
#import relevant data
mon = pd.read_csv('data/monday.csv', sep = ';')
tue = pd.read_csv('data/tuesday.csv', sep = ';')
wed = pd.read_csv('data/wednesday.csv', sep = ';')
thur = pd.read_csv('data/thursday.csv', sep = ';')
fri = pd.read_csv('data/friday.csv', sep = ';')

#check imported data 
mon.head()

             timestamp  customer_no location
0  2019-09-02 07:03:00            1    dairy
1  2019-09-02 07:03:00            2    dairy
2  2019-09-02 07:04:00            3    dairy
3  2019-09-02 07:04:00            4    dairy
4  2019-09-02 07:04:00            5   spices

In [14]:
#define global variable for each day
DAY = mon

***

## III. Exploratory Data Analysis

*Total number of customers in each section*

In [15]:
def num_cust_each_section(DAY):
    'returns the total number of customers for each section'
    total_number = DAY['location'].value_counts()
    return total_number

In [16]:
#print the total number of customers for a predefined day
print(num_cust_each_section(DAY))

checkout    1437
fruit       1005
dairy        895
drinks       797
spices       750
Name: location, dtype: int64

***

*Calculate the total number of customers in each section over time*

In [ ]:
groupby(DAY['location'])

## Transition probabilities

*State diagram*

*Display the transition probability matrix*

*Visualize the probabilities as a heat map*

In [ ]:
#calculating probabilities 
pd.crosstab(df['before'], df['after'], normalize=0)

***

## Monte Carlo Markov Chain

***

## CSV Output